:root{
    --color-salmon: #E48872;
    --color-green: #83B69B;
    --color-bege: #FFFED8;
    --montserrat: "MontSerrat";
    --ptsans: "PT-Sans";
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--ptsans);
    z-index: -50;
    background-image: url(../img/backgroundMobile.png);
    background-size: 100vw 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-one{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
.contain{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-one h1{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-bottom: 3px solid var(--color-green);
    box-sizing: border-box;
    color: white;
    font-family: var(--ptsans);
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.section-one .btn-fale-conosco{
    height: 35px;
    margin-top: 40px;
    padding: 5px 15px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    font-family: var(--montserrat);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    outline: none;
    animation: piscar 1s infinite alternate;  
}
@keyframes piscar{
    0%{
        box-shadow: 0 0 0 white, 0 0 0 inset white;
    }
    100%{
        box-shadow: 0 0 5px white, 0 0 5px inset white;
    }
}
.section-one .arrow-down{
    position: fixed;
    bottom: 5px;
    width: 35px;
    transform: rotate(90deg);
    animation: pong 1s infinite;
}
@keyframes pong{
    0%, 100%{
        bottom: 5px;
    }
    50%{
        bottom: 10px;
    }
}
.section-one span{
    position: fixed;
    bottom: 75px;
    color: white;
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: 0 0 2px white;
    opacity: 0.7;
}
.section-one .scroll-down{
    position: fixed;
    bottom: 35px;
    height: 35px;
    width: 2px;
    display: flex;
    justify-content: center;
}
.ball-animation{
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 0 5px white;
    opacity: 1;
    animation: scrollDown 1s infinite linear;
}
.ball-animation:first-child{
    animation-delay: 0s;
}
.ball-animation:last-child{
    animation-delay: .5s;
}
@keyframes scrollDown{
    0%{
        opacity: 1;
        top: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        top: 100%;
        opacity: 0;
    }
}
.section-two{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../img/sectionTwo.svg);
    background-position: top;
    background-size: cover;
}
.contain-numbers{
    position: relative;
    height: 80vh;
    width: 90vw;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: black;
}
.estatisticas{
    position: absolute;
    top: -7%;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    font-size: 1.7rem;
    color: var(--color-green);
    opacity: 0;
    transform: translateY(100px);
    transition: 1.5s;
}
.estatisticas:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 40%);
    width: 80%;
    height: 2px;
    background-color: var(--color-green);
}
.number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(80% / 3);
    opacity: 0;
    transform: translateY(100px);
    transition: 1.5s;
    margin-top: 50px;
}
.number h3{
    margin: 0;
}
.number img{
    height: 30%;
}
.number span{
    position: relative;
    font-size: 5vh;
}
.number span:before{
    content: '';
    position: absolute;
    left: calc(50% - 40px);
    bottom: -15px;
    height: 2px;
    width: 80px;
    margin-top: 10px;
    background-color: var(--color-green);
}
.section-tree{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-green);
    background-position: center;
    background-size: 100vh;
    position: relative;
    overflow: hidden;
}
.section-tree h2{
    position: absolute;
    top: 2%;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-bottom: 5px;
    font-size: 1.7rem;
    color: white;
    letter-spacing: 2px;
}
.section-tree h2:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white; 
}
.contain-titles{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 0;
    transform: translateY(100px);
    transition: 1.5s;
    margin-top: 15%;
}
.perfil{
    height: 225px;
    width: 175px;
    border-radius: 5px;
    background-image: url(../img/perfil.png);
    background-position: center;
    background-size: cover;
}
.contain-titles h3{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: white;
}
.contain-sobre{
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    opacity: 0;
    transform: translateY(100px);
    transition: 1.5s;
}
.contain-sobre li{
    font-size: 1rem;
    margin-top: 25px; 
}
.contain-sobre a{
    margin: 50px 0;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    animation: piscar 1s infinite alternate; 
}
.animation-scroll{
    opacity: 1;
    transform: translateY(0);
}
@media screen and (min-width: 525px){
    .contain-sobre{
        width: 75%;
    }
    .contain-sobre li{
        font-size: 1.2rem;
        margin-top: 25px; 
        width: 80%;
    }
}
@media screen and (min-width: 600px){
    .contain-sobre{
        width: 75%;
    }
    .contain-sobre li{
        font-size: 1.2rem;
        margin-top: 25px; 
        width: 80%;
    }
}
@media screen and (min-width: 760px){
    .section-two{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background-color: white;
        background-image: none;
    }
}
@media screen and (min-width: 900px){
    body{
        background-image: url(../img/background.png);
        background-size: 140vw 100vh;
    }
    .section-one h1{
        width: 85%;
        border-bottom: 3px solid var(--color-green);
        font-size: 35px;
    }
    .section-one .btn-fale-conosco{
        height: 50px;
        padding: 5px 20px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }.section-two{
        height: 60vh;
    }
    .contain-numbers{
        height: 85vh;
        flex-direction: row;
    }
    .estatisticas{
        font-size: 2.3rem;
        top: 0;
    }
    .number{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 60%;
        opacity: 0;
        transform: translateY(100px);
        transition: 1.5s;
        margin-top: 0px;
        position: relative;
    }
    .number h3{
        margin: 0;
        font-size: 1.5rem;
    }
    .number span{
        font-size: 3rem;
    }
    .number span:before{
        display: none;
    }
    .section-tree{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
        background-color: var(--color-green);
        background-position: center;
        background-size: 100vh;
        position: relative;
        overflow: hidden;
    }
    .section-tree h2{
        font-size: 2rem;    
    }
    .perfil{
        height: 250px;
        width: 200px;
    }
    .contain-titles h3{
        margin: 0;
        padding: 0;
        border-bottom: 2px solid white;
        font-size: 1.7rem;
        margin-top: 25px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        color: white;
    }
    .contain-sobre{
        width: 70%;
    }
    .contain-sobre li{
        font-size: 1.2rem;
        margin-top: 25px; 
        width: 80%;
    }
    .contain-sobre a{
        margin: 40px 0;
        font-size: 1.2rem;
    }
    .animation-scroll{
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (min-width: 1350px){
    body{
        background-image: url(../img/background.png);
        background-size: cover;
    }
    .section-tree{
        flex-direction: row;
    }
    .contain-titles{
        position: inherit;
        width: 35%;
        margin: 0;
    }
    .perfil{
        height: 325px;
        width: 275px; 
    }
    .contain-sobre{
        width: 65%;
        margin-top: 75px;
    }
    .contain-sobre ul{
        width: 75%;
        height: 50%;
    }
    .contain-sobre li{
        font-size: 1.2rem;
        margin-top: 25px; 
        width: 75%;
        text-align: justify;
    }
    
}



