:root{
    --color-salmon: #E48872;
    --color-green: #83B69B;
    --color-bege: #FFFED8;
    --montserrat: "MontSerrat";
    --ptsans: "PT-Sans";
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-one{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
.contain{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-one h1{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-bottom: 3px solid var(--color-green);
    box-sizing: border-box;
    color: white;
    font-family: var(--ptsans);
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.section-one .btn-fale-conosco{
    height: 35px;
    margin-top: 40px;
    padding: 5px 15px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    font-family: var(--montserrat);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    outline: none;
    animation: piscar 1s infinite alternate;
    
}
@keyframes piscar{
    0%{
        box-shadow: 0 0 0 white, 0 0 0 inset white;
    }
    100%{
        box-shadow: 0 0 5px white, 0 0 5px inset white;
    }
}
.section-one .arrow-down{
    position: fixed;
    bottom: 5px;
    width: 35px;
    transform: rotate(90deg);
    transition: 1s;
}
@keyframes pong{
    0%,100%{
        bottom: 10px;
    }
    50%{
        bottom: 15px;
    }
}
.section-one span{
    position: fixed;
    bottom: 75px;
    color: white;
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: 0 0 2px white;
    opacity: 0.7;
}
.section-one .scroll-down{
    position: fixed;
    bottom: 35px;
    height: 35px;
    width: 2px;
    display: flex;
    justify-content: center;
}
.ball-animation{
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 0 5px white;
    opacity: 1;
    animation: scrollDown 1s infinite linear;
}
.ball-animation:first-child{
    animation-delay: 0s;
}
.ball-animation:last-child{
    animation-delay: .5s;
}
@keyframes scrollDown{
    0%{
        opacity: 1;
        top: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        top: 100%;
        opacity: 0;
    }
}
.section-two{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../img/sectionTwo.svg);
    background-position: top;
    background-size: cover;
}
.contain-numbers{
    position: relative;
    height: 80vh;
    width: 90vw;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: black;
}
.estatisticas{
    position: absolute;
    top: -7%;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    font-size: 1.7rem;
    color: var(--color-green);
    opacity: 0;
    transform: translateY(150px);
    transition: 1.5s;
}
.estatisticas:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 40%);
    width: 80%;
    height: 2px;
    background-color: var(--color-green);
}
.number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(80% / 3);
    opacity: 0;
    transform: translateY(150px);
    transition: 1.5s;
}
.number h3{
    margin: 0;
}
.number img{
    height: 30%;
}
.number span{
    position: relative;
    font-size: 5vh;
}
.number span:before{
    content: '';
    position: absolute;
    left: calc(50% - 40px);
    bottom: -15px;
    height: 2px;
    width: 80px;
    margin-top: 10px;
    background-color: var(--color-green);
}

.animation-scroll{
    opacity: 1;
    transform: translateY(0);
}


